<a href="https://colab.research.google.com/github/CoderVudu/03_-Data_Structures_in_Python_15_oct_sharmistha_Dey_ipynb/blob/main/03__Data_Structures_in_Python_15_oct_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Q 1. Write a code to reverse a string.

In [11]:
# Function to reverse a string
def reverse_string(s):
    return s[::-1]
input_string = "My name is Sharmistha"
reversed_string = reverse_string(input_string)
print("Reversed String:", reversed_string)

Reversed String: ahtsimrahS si eman yM

#Q 2. Write a code to count the number of vowels in a string.

In [10]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    # Initialize count
    count = 0
    # Loop through each character in the string
    for char in string:
        if char in vowels:
            count += 1
    return count
input_string = "Hello, how are you?"
vowel_count = count_vowels(input_string)
print(f"Number of vowels: {vowel_count}")

Number of vowels: 7

# Q 3.Write a code to check if a given string is a palindrome or not.

In [16]:
def is_palindrome(s):
    # Checking if the string is equal to its reverse
    return s == s[::-1]
input_string = input("Enter a string: ")
if is_palindrome(input_string):
    print("The string is a palindrome.")
else:
    print("The string is not a palindrome.")

Enter a string: "Madam"
The string is not a palindrome.

#Q 4. Write a code to check if two given strings are anagrams of each other.

In [24]:
def are_anagrams(str1, str2):
    # Converting both strings to lowercase aalong with sorting the characters
    return sorted(str1.lower()) == sorted(str2.lower())
string1 = "gum"
string2 = "mug"
if are_anagrams(string1, string2):
    print("The strings are anagrams.")
else:
    print("The strings are not anagrams.")

The strings are anagrams.

#Q 5. Write a code to find all occurrences of a given substring within another string.

In [23]:
def find_all_occurrences(main_string, substring):
    index = 0
    occurrences = []
    while index < len(main_string):
        index = main_string.find(substring, index)
        if index == -1:
            break
        occurrences.append(index)
        index += 1  # Moving to the next position to avoid finding the same occurrence
    return occurrences
main_string = "This is a test string for testing"
substring = "test"
print(find_all_occurrences(main_string, substring))

[10, 26]

#Q 6. Write a code to perform basic string compression using the counts of repeated characters.

In [26]:
class StringCompressor:
    def __init__(self, s):
        self.s = s

    def compress(self):
        if not self.s:
            return ""

        compressed = []
        count = 1

        for i in range(1, len(self.s)):
            if self.s[i] == self.s[i - 1]:
                count += 1
            else:
                compressed.append(self.s[i - 1] + str(count))
                count = 1

        # Adding the last repeated character
        compressed.append(self.s[-1] + str(count))

        compressed_string = ''.join(compressed)
        return compressed_string if len(compressed_string) < len(self.s) else self.s
compressor = StringCompressor("abbccccaa")
compressed_string = compressor.compress()
print(compressed_string)

a1b2c4a2

#Q 7. Write a code to determine if a string has all unique characters.

In [28]:
def has_unique_characters(s):
    return len(s) == len(set(s))

# For Example
input_string = "abcdef"
print(has_unique_characters(input_string))

input_string = "  PWSKILLS"
print(has_unique_characters(input_string))

True
False

# Q 8. Write a code to convert a given string to uppercase or lowercase.

In [31]:
def convert_case(s, to_upper=True):
    return s.upper() if to_upper else s.lower()
# For Example
input_string = "I am Studying data analytics course!"
print(convert_case(input_string, to_upper=True))
print(convert_case(input_string, to_upper=False))

I AM STUDYING DATA ANALYTICS COURSE!
i am studying data analytics course!

# Q 9. Write a code to count the number of words in a string.

In [32]:
def count_words(s):
    return len(s.split())
# For Example
input_string = "I am Sharmistha"
print(count_words(input_string))

3

# Q 10. Write a code to concatenate two strings without using the operator.

In [33]:
def concatenate_strings(s1, s2):
    return ''.join([s1, s2])
# For Example
string1 = "PW"
string2 = "Skills"
result = concatenate_strings(string1, string2)
print(result)

PWSkills

#Q 11. Write a code to remove all occurrences of a specific element from a list.

In [34]:
def remove_occurrences(lst, element):
    return [item for item in lst if item != element]
# For Example
my_list = [1, 2, 3, 4, 3, 5]
element_to_remove = 3
result = remove_occurrences(my_list, element_to_remove)
print(result)

[1, 2, 4, 5]

#Q 12. Implement a code to find the second largest number in a given list of integers.

In [36]:
def second_largest(numbers):
    unique_numbers = list(set(numbers))  # Remove duplicates
    unique_numbers.sort()  # Sort the list
    return unique_numbers[-2] if len(unique_numbers) >= 2 else None
# For Example
my_list = [5, 3, 9, 1, 7, 9, 11]
result = second_largest(my_list)
print(result)

9

#Q 13. Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

In [39]:
def count_occurrences(lst):
    counts = {}
    for item in lst:
        counts[item] = counts.get(item, 0) + 1
    return counts
# For Example
my_list = [1, 2, 2, 3, 1, 4, 4, 4]
result = count_occurrences(my_list)
print(result)

{1: 2, 2: 2, 3: 1, 4: 3}

#Q 14. Write a code to reverse a list in-place without using any built-in reverse functions.

In [41]:
def reverse_list(lst):
    left, right = 0, len(lst) - 1
    while left < right:
        lst[left], lst[right] = lst[right], lst[left]  # Swap elements
        left += 1
        right -= 1

# For Example
my_list = [1, 2, 3, 4]
reverse_list(my_list)
print(my_list)

[4, 3, 2, 1]

#Q 15. Implement a code to find and remove duplicates from a list while preserving the original order of elements.

In [43]:
def remove_duplicates(lst):
    seen = set()
    result = []
    for item in lst:
        if item not in seen:
            seen.add(item)
            result.append(item)
    return result
# For Example
my_list = [1, 2, 3, 3, 2, 4, 1, 5, 5]
result = remove_duplicates(my_list)
print(result)

[1, 2, 3, 4, 5]

#Q 16. Create a code to check if a given list is sorted (either in ascending or descending order) or not.

In [45]:
def is_sorted(lst):
    return lst == sorted(lst) or lst == sorted(lst, reverse=True)

# For Example
lst = [1, 2, 3, 4]
print(is_sorted(lst))

lst = [4, 3, 2, 1]
print(is_sorted(lst))

lst = [1, 3, 2, 4]
print(is_sorted(lst))

True
True
False

#Q 17. Write a code to merge two sorted lists into a single sorted list.

In [48]:
def merge_sorted_lists(list1, list2):
    merged_list = []
    i, j = 0, 0

    # Traversing both lists and merge
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1

    # Appending remaining elements from list1 or list2
    merged_list.extend(list1[i:])
    merged_list.extend(list2[j:])

    return merged_list

# For Example
list1 = [1, 3, 5, 7, 9]
list2 = [2, 4, 6, 8, 10]
result = merge_sorted_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Q 18. Implement a code to find the intersection of two given lists.

In [50]:
def find_intersection(list1, list2):
    # Use set intersection to find common elements
    intersection = list(set(list1) & set(list2))
    return intersection
# For Example
list1 = [1, 2, 3, 4, 5, 6]
list2 = [5, 6, 7, 8, 9]

result = find_intersection(list1, list2)
print("Intersection:", result)

Intersection: [5, 6]

# Q 19. Create a code to find the union of two lists without duplicates.

In [52]:
def union_lists(list1, list2):
    return list(set(list1) | set(list2))

# For Example
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

result = union_lists(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

#Q 20. Write a code to shuffle a given list randomly without using any built-in shuffle functions.

In [57]:
import random

def shuffle_list(lst):
    # Get the length of the list
    n = len(lst)

    # Iterate over the list in reverse order
    for i in range(n - 1, 0, -1):
        # Generate a random index from 0 to i
        j = random.randint(0, i)

        # Swap the elements at index i and j
        lst[i], lst[j] = lst[j], lst[i]

# Example usage
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[5, 4, 3, 2, 1]

# Q 21. Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

In [61]:
def common_elements(tuple1, tuple2):
    # Converting tuples to sets to find common elements
    common_set = set(tuple1) & set(tuple2)
    # Returning a new tuple with the common elements
    return tuple(common_set)

# For Example
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
result = common_elements(tuple1, tuple2)
print(result)

(4, 5)

#Q 22. Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the Intersection of these two sets.

In [65]:

def get_intersection():
    # Prompt user for two sets of integers
    set1_input = input("Enter the first set of integers separated by commas: ")
    set2_input = input("Enter the second set of integers separated by commas: ")

    # Convert the input strings into sets of integers
    set1 = set(map(int, set1_input.split(',')))
    set2 = set(map(int, set2_input.split(',')))

    # Calculate the intersection
    intersection = set1.intersection(set2)

    # Print the intersection in simplest form
    print("The intersection of the two sets is:", intersection)

# Call the function
get_intersection()

Enter the first set of integers separated by commas: 1, 2, 3, 4
Enter the second set of integers separated by commas: 3, 4, 5, 6
The intersection of the two sets is: {3, 4}

#Q 23. Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

In [67]:
def concatenate_tuples(tuple1, tuple2):
    # Concatenate the two tuples
    result = tuple1 + tuple2
    return result
# For Example
tuple_a = (1, 2, 3, 4)
tuple_b = (5, 6, 7, 8)
concatenated_tuple = concatenate_tuples(tuple_a, tuple_b)
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

#Q 24. Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

In [69]:
# Function to get a set of strings from user input
def get_string_set(prompt):
    user_input = input(prompt)
    # Split the input into a list and convert to a set
    return set(user_input.split())

# Get two sets from the user
set1 = get_string_set("Enter the first set of strings (separated by spaces): ")
set2 = get_string_set("Enter the second set of strings (separated by spaces): ")

# Find elements in set1 that are not in set2
difference = set1 - set2

# Print the result
print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings (separated by spaces): "Ajay" "PWSKILLS"
Enter the second set of strings (separated by spaces): "PWSKILLS" "Sharmistha" "Dey"
Elements in the first set but not in the second set: {'"Ajay"'}

#Q 25. Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

In [70]:
def slice_tuple(original_tuple, start_index, end_index):
    """
    Returns a new tuple containing elements from the original tuple
    within the specified range of indices.

    :param original_tuple: The tuple to slice.
    :param start_index: The starting index (inclusive).
    :param end_index: The ending index (exclusive).
    :return: A new tuple containing the sliced elements.
    """
    # Slice the original tuple and return a new tuple
    return original_tuple[start_index:end_index]

# For Example
my_tuple = (10, 20, 30, 40, 50)
start = 1
end = 4
result = slice_tuple(my_tuple, start, end)
print(result)

(20, 30, 40)

#Q 26. Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

In [80]:
# Prompt user for input
set1_input = input("Enter the first set of characters (separated by spaces): ")
set2_input = input("Enter the second set of characters (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate the union of the two sets
union_set = set1.union(set2)

# Print the result
print("Union of the two sets:", union_set)

Enter the first set of characters (separated by spaces): a b c
Enter the second set of characters (separated by spaces): b c e d
Union of the two sets: {'d', 'b', 'e', 'c', 'a'}

#Q 27. Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

In [75]:
def max_min_from_tuple(int_tuple):
    # Find maximum and minimum values
    max_value = max(int_tuple)
    min_value = min(int_tuple)

    # Return the results as a tuple
    return max_value, min_value

# For Example
input_tuple = (5, 3, 9, 1, 4, 11, 0)
max_value, min_value = max_min_from_tuple(input_tuple)

print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 11
Minimum value: 0

#Q 28. Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

In [82]:
# Define two sets of integers
set1 = {1, 2, 3, 4, 5, 6}
set2 = {5, 6, 7, 8, 9, 10}

# Calculate union, intersection, and difference
union_set = set1 | set2
intersection_set = set1 & set2
difference_set1 = set1 - set2
difference_set2 = set2 - set1

# Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of the two sets:", union_set)
print("Intersection of the two sets:", intersection_set)
print("Difference (Set 1 - Set 2):", difference_set1)
print("Difference (Set 2 - Set 1):", difference_set2)

Set 1: {1, 2, 3, 4, 5, 6}
Set 2: {5, 6, 7, 8, 9, 10}
Union of the two sets: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection of the two sets: {5, 6}
Difference (Set 1 - Set 2): {1, 2, 3, 4}
Difference (Set 2 - Set 1): {8, 9, 10, 7}

#Q 29. Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

In [85]:
def count_occurrences(tup, element):
    return tup.count(element)

# For Example
input_tuple = (1, 2, 3, 3, 4, 3, 5)
element_to_count = 3
count = count_occurrences(input_tuple, element_to_count)

print(f"The element {element_to_count} occurs {count} time(s) in the tuple.")

The element 3 occurs 3 time(s) in the tuple.

#Q 30. Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

In [87]:
# Prompt user for input
set1_input = input("Enter the first set of strings (separated by spaces): ")
set2_input = input("Enter the second set of strings (separated by spaces): ")

# Convert input strings to sets
set1 = set(set1_input.split())
set2 = set(set2_input.split())

# Calculate the symmetric difference of the two sets
symmetric_difference = set1 ^ set2  # Alternatively, one can use set1.symmetric_difference(set2)

# Print the result
print("Symmetric difference of the two sets:", symmetric_difference)

Enter the first set of strings (separated by spaces): apple banana cherry
Enter the second set of strings (separated by spaces): banana cherry date elderberry
Symmetric difference of the two sets: {'apple', 'date', 'elderberry'}

#Q 31. Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

In [90]:
def word_frequency(words):
    frequency_dict = {}
    for word in words:
        if word in frequency_dict:
            frequency_dict[word] += 1
        else:
            frequency_dict[word] = 1
    return frequency_dict

# For Example
word_list = ["date", "banana", "date", "pear", "banana", "date"]
frequency = word_frequency(word_list)
print(frequency)

{'date': 3, 'banana': 2, 'pear': 1}

#Q 32. Write a code that takes two dictionaries as input and merges them into a single dictionary. if there are common keys, the values should be added together.

In [92]:
def merge_dictionaries(dict1, dict2):
    merged_dict = dict1.copy()  # Create a copy of the first dictionary

    for key, value in dict2.items():
        if key in merged_dict:
            merged_dict[key] += value  # Add values for common keys
        else:
            merged_dict[key] = value  # Add new key-value pairs

    return merged_dict

# For Example
dict1 = {'a': 10, 'b': 20, 'c': 30}
dict2 = {'b': 15, 'c':10, 'd': 25}

merged = merge_dictionaries(dict1, dict2)
print(merged)

{'a': 10, 'b': 35, 'c': 40, 'd': 25}

# Q 33. Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

In [97]:
def get_nested_value(nested_dict, keys):
    """Access a value in a nested dictionary using a list of keys.

    Args:
        nested_dict (dict): The nested dictionary to search.
        keys (list): A list of keys to access the desired value.

    Returns:
        The value corresponding to the keys, or None if any key is not found.
    """
    current_value = nested_dict
    for key in keys:
        if isinstance(current_value, dict) and key in current_value:
            current_value = current_value[key]
        else:
            return None
    return current_value

# Example nested dictionary
nested_dictionary = {
    'a': {
        'b': {
            'c': 50
        }
    },
    'x': {
        'y': {
            'z': 100
        }
    }
}

# For Example
keys_to_access = ['a', 'b', 'c']
result = get_nested_value(nested_dictionary, keys_to_access)
print(result)

# Accessing a non-existent key
keys_to_access_non_existent = ['a', 'b', 'd']
result_non_existent = get_nested_value(nested_dictionary, keys_to_access_non_existent)
print(result_non_existent)

50
None

# Q 34. Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

In [101]:
def sort_dict_by_values(input_dict, descending=False):
    # Sort the dictionary by values
    sorted_dict = dict(sorted(input_dict.items(), key=lambda item: item[1], reverse=descending))
    return sorted_dict

# For Example
example_dict = {
    'pear': 5,
    'watermelon': 7,
    'grape': 10,
    'apple': 5
}

# Sort in ascending order
sorted_ascending = sort_dict_by_values(example_dict)
print("Sorted in Ascending Order:", sorted_ascending)

# Sort in descending order
sorted_descending = sort_dict_by_values(example_dict, descending=True)
print("Sorted in Descending Order:", sorted_descending)

Sorted in Ascending Order: {'pear': 5, 'apple': 5, 'watermelon': 7, 'grape': 10}
Sorted in Descending Order: {'grape': 10, 'watermelon': 7, 'pear': 5, 'apple': 5}

#Q 35. Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

In [98]:
def invert_dict(original_dict):
    inverted_dict = {}

    for key, value in original_dict.items():
        if value not in inverted_dict:
            inverted_dict[value] = [key]  # Start a new list for this value
        else:
            inverted_dict[value].append(key)  # Append to the existing list

    return inverted_dict

# For Example
original_dict = {
    'a': 1,
    'b': 2,
    'c': 2,
    'd': 3
}

inverted_dict = invert_dict(original_dict)
print("Original Dictionary:", original_dict)
print("Inverted Dictionary:", inverted_dict)

Original Dictionary: {'a': 1, 'b': 2, 'c': 2, 'd': 3}
Inverted Dictionary: {1: ['a'], 2: ['b', 'c'], 3: ['d']}